<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn2crack">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Little Quit Buddy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".socialmediaapp.welcomePage"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LoginRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="francisbohan"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.Profile" />
        <activity android:name=".socialmediaapp.mainMenuPage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".socialmediaapp.wouldYouLikeToLogOutPage" />
        <activity android:name=".socialmediaapp.moneySavedPage" />
        <activity android:name=".socialmediaapp.daysSinceQuittingPage" />
        <activity android:name=".socialmediaapp.cigarettesPassedPage" />
        <activity android:name=".socialmediaapp.welcomeClass" />
        <activity android:name=".chat.chatRoom" />
        <activity android:name=".socialmediaapp.settingsPage" />
        <activity android:name=".tipsAndMotivationsSection.tipsAndMotivationsPage" />
        <activity android:name=".healthTrackerSection.healthTrackerPage" />
        <activity android:name=".healthTrackerSection.twentyMinutes" />
        <activity android:name=".healthTrackerSection.twoHours" />
        <activity android:name=".healthTrackerSection.twelveHours" />
        <activity android:name=".healthTrackerSection.twentyFourHours" />
        <activity android:name=".healthTrackerSection.fortyEightHours" />
        <activity android:name=".healthTrackerSection.seventyTwoHours" />
        <activity android:name=".healthTrackerSection.twoToThreeWeeks" />
        <activity android:name=".healthTrackerSection.oneToNineMonths" />
        <activity android:name=".healthTrackerSection.oneYear" />
        <activity android:name=".healthTrackerSection.fiveYears" />
        <activity android:name=".healthTrackerSection.tenYears" />
        <activity android:name=".healthTrackerSection.fifteenYears"></activity>
    </application>

</manifest>