<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.francisbohan.socialmediaapp" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SocialMediaSmokeApplication"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginPage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".signUpPage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".signUpRequirementsPage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".mainMenuPage" >
        </activity>
        <activity android:name=".moneySavedPage" >
        </activity>
        <activity android:name=".cigarettesPassedPage" >
        </activity>
        <activity android:name=".daysSinceQuittingPage" >
        </activity>
        <activity android:name=".healthTrackerPage" >
        </activity>
        <activity android:name=".tipsAndMotivationsPage" >
        </activity>
        <activity android:name=".settingsPage" >
        </activity>
        <activity
            android:name=".tipOnePage"
            android:label="@string/title_activity_tip_one_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".tipTwoPage"
            android:label="@string/title_activity_tip_two_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".tipThreePage" >
        </activity>
        <activity android:name=".profilePage" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
